
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/
gen/

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/ios/Flutter/App.framework
/ios/Flutter/engine
/ios/Flutter/flutter_assets
/ios/Flutter/.symlinks
/ios/Pods/
/ios/.bundle
/ios/DerivedData
/ios/Runner.xcworkspace
/ios/Runner.xcodeproj/project.xcworkspace
/ios/Runner.xcodeproj/xcuserdata
/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Pods/*
**/ios/DerivedData/*

# Android
/android/key.properties
/android/local.properties
/android/app/src/main/assets/flutter_assets/*
/android/.gradle
/android/gradlew
/android/gradlew.bat
/android/app/build
/android/build/
/android/app/google-services.json
android/gradle/wrapper/gradle-wrapper.jar

# Web
/web/flutter.js
/web/flutter_bootstrap.js
/web/main.dart.js
/web/assets/assets/
/web/assets/fonts/
/web/assets/packages/

# Firebase
firebase-debug.log
